@model Producto

<h2>Editar Producto</h2>

<form asp-action="Update"  asp-route-idProducto="@Model.id" method="post">

    <input type="hidden" asp-for="id" />

    <div class="form-group">
        <label asp-for="descripcion">Descripcion:</label>
        <input asp-for="descripcion" class="form-control" />
        <span asp-validation-for="descripcion" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="precio">Precio: $</label>
        <input asp-for="precio" class="form-control" />
        <span asp-validation-for="precio" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Guardar Cambios</button>

</form>
