@model Presupuesto

<h2>Eliminar Presupuesto</h2>

<p>¿Seguro que querés eliminar el presupuesto a cargo de <span class="fw-bold">@Model.nombreDestinatario</span>?</p>

<form asp-action="DeleteConfirmed" asp-route-idPresupuesto="@Model.idPresupuesto" method="post">
    <input type="hidden" asp-for="idPresupuesto" />

    <button class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
