@model Presupuesto

<h2>Editar Presupuesto</h2>

<form asp-action="Update"  asp-route-idPresupuesto="@Model.idPresupuesto" method="post">

    <input type="hidden" asp-for="idPresupuesto" />

    <div class="form-group">
        <label asp-for="nombreDestinatario">Nombre del destinatario:</label>
        <input asp-for="nombreDestinatario" class="form-control" />
        <span asp-validation-for="nombreDestinatario" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="fechaCreacion">Fecha de Creacion:</label>
        <input asp-for="fechaCreacion" class="form-control" />
        <span asp-validation-for="fechaCreacion" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Guardar Cambios</button>

</form>
